<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,
					initial-scale=1,
					shrink-to-fit=no">
<meta name="description" content="APP DESCRIPTION">
<meta name="auther" content="YOUR NAME">
<title>Spring Boot WebApp</title>
<link rel="stylesheet" href="./css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
</head>
<body>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"
		src="./js/vendor/jquery-slim.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.14.1/popper.min.js}"
		src="./js/vendor/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.1.0/bootstrap.min.js}"
		src="./js/bootstrap.min.js"></script>
</body>
</html>